<a href="https://colab.research.google.com/github/zvikarp/python-basics/blob/master/python_beggining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python exercises to begin with
Here you will find a lot of simple python exercises, for you to feel comfortable around python and jupyter notebook. No need to do them all! but still, they are here for you to practice your skills, so make sure you finish only when you fill comfortable around.

Note: take a look at the few examples for recursion  at the end of the list.


-----------------------------------

Question 1
Level 1

Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: 
Consider use range(#begin, #end) method

In [0]:
begin = 2000
end = 3200

for i in range(begin, end + 1):
    if ((i % 7 == 0) and (i % 5 != 0)):
        print(i, end=", ")

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,


Question 2
Level 1

Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
input = 8
output = 1

for i in range(1, input + 1):
    output *= i
print(output)

40320


Question 3
Level 1

Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [0]:
input = 8
output = {}

for i in range(1, input + 1):
    output[i] = i*i
print (output)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}


Question 4
Level 1

Question:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
tuple() method can convert list to tuple

In [0]:
input = "34,67,55,33,12,98"
as_list = input.split(',')

print(as_list)
print(tuple(as_list))

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')


Question 5
Level 1

Question:
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

Hints:
Use __init__ method to construct some parameters

In [0]:
class Banana:
    def __init__ (self, color, string):
        self.name = "banana"
        self.color = color
        self.string = string

    def get_string(self, string):
        self.string = string

    def print_string(self):
        print(self.string.upper())

a_banana = Banana("yellow", "")
a_banana.get_string("i am a string")
a_banana.print_string()

I AM A STRING


Question 6
Level 2

Question:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

Hints:
If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26)
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
import math

c = 50
h = 30
d = [100, 150, 180]

output = list(map(lambda x: int(math.sqrt((2*c*x)/h)), d))

print(output)

[18, 22, 24]


Question 7
Level 2

Question:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]] 

Hints:
Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [0]:
x = 3
y = 5
output = []

for i in range(x):
    output.append([i*j for j in range(y)])

print(output)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]


Question 8
Level 2

Question:
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
from functools import reduce

input = "without,hello,bag,world"

as_sorted_list = sorted(input.split(','))
as_string = reduce(lambda a, b: a+","+b, as_sorted_list)
print(as_string)

bag,hello,without,world


Question 9
Level 2

Question:
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
input = "Hello world Practice makes perfect"
output = input.upper()

print(output)

HELLO WORLD PRACTICE MAKES PERFECT


Question 10
Level 2

Question:
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [0]:
input = "hello world and practice makes perfect and hello world again"
output = sorted(list(set(input.split(" "))))

print(output)

['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']


Question 11
Level 2

Question:
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010
Notes: Assume the data is input by console.

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
input = "0100,0011,1010,1001"

output = list(filter(lambda x: int(x, 2) % 5 == 0, input.split(',')))
print(output)

['1010']

Question 12
Level 2

Question:
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
start = 1000
end = 3000

def all_even(number):
    return all(list(map(lambda x: int(x) % 2 == 0, str(number))))

for i in range(start, end):
    if (all_even(i)):
        print(i, end=", ")

2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888,


Question 13
Level 2

Question:
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
input = "hello world! 123"

letters = 0;
digits = 0;

for i in input:
    letters += (i >= 'A' and i <= 'z')
    digits += (i >= '0' and i <= '9')

print(f'LETTERS {letters} DIGITS {digits}')

LETTERS 10 DIGITS 3


Question 14
Level 2

Question:
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
input = "Hello world!"
upper = 0;
lower = 0;

for i in input:
    upper += i.isupper()
    lower += i.islower()

print(f'UPPER CASE {upper} LOWER CASE {lower}')

UPPER CASE 1 LOWER CASE 9


Question 15
Level 2

Question:
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
input = 9
output = 0

for i in range(4):
    output += int(str(input) + str(input)*i)

print(output)

11106


Question 16
Level 2

Question:
Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
Then, the output should be:
1,3,5,7,9

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
input = [1,2,3,4,5,6,7,8,9]

print([x for x in input if x % 2 != 0])

[1, 3, 5, 7, 9]


Question 17
Level 2

Question:
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200
¡­
D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
import pandas as pd

input = "D 300 D 300 W 200 D 100"

output = input.replace('D', '+')
output = output.replace('W', '-')

print(pd.eval(output))

500


Question 18
Level 3

Question:
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12

Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
import re

input = ["ABd1234@1","a F1#","2w3E*","2We3345"]

def validPassword(password):
    return re.match(r'((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$#@])(?=^.{6,12}$))', password)

output = list(filter(validPassword, input))

print(output)

['ABd1234@1']


Question 19
Level 3

Question:
You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:

1. Sort based on name.
2. Then sort based on age.
3. Then sort by height.

The priority is that name > age > height.
If the following tuples are given as input to the program:

Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85

Then, the output of the program should be:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
We use itemgetter to enable multiple sort keys.

In [0]:
input = [('Tom',19,80), ('John',20,90), ('Jony',17,91), ('Jony',17,93), ('Json',21,85)]

output = sorted(input, key=lambda x: x[2])
output.sort(key=lambda x: x[1])
output.sort(key=lambda x: x[0])

print(output)

[('John', 20, 90), ('Jony', 17, 91), ('Jony', 17, 93), ('Json', 21, 85), ('Tom', 19, 80)]


Question 20
Level 3

Question:
Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

Hints:
Consider use yield

In [0]:
class Generator:
    def __init__(self, n):
        self.n = n

    def __iter__(self):
        for i in range(self.n):
            if (i % 7 == 0):
                yield i

output = Generator(10)

for i in output:
    print(i)

0
7


Question 21
Level 3

Question:
A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
¡­
The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer.
Example:
If the following tuples are given as input to the program:
UP 5
DOWN 3
LEFT 3
RIGHT 2
Then, the output of the program should be:
2

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
import math

input = [('UP', 5), ('DOWN', 3), ('LEFT', 3), ('RIGHT', 2)]

movement = {'UP': 0, 'DOWN': 0, 'LEFT': 0, 'RIGHT': 0}
starting_point = (0, 0)

for i in input:
    movement[i[0]] += i[1]

end_point = (movement['RIGHT'] - movement['LEFT'], movement['UP'] - movement['DOWN'])
distance = math.sqrt((starting_point[0] - end_point[0])**2 + (starting_point[1] - end_point[1])**2)

print(int(distance))

2

Question 22
Level 3

Question:
Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically. 
Suppose the following input is supplied to the program:
New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
Then, the output should be:
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

Hints
In case of input data being supplied to the question, it should be assumed to be a console input.

In [0]:
input = "New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3."
output = {}

for i in sorted(input.split()):
    if (i in output):
        output[i] += 1
    else:
        output[i] = 1

print(output)

{'2': 2, '3.': 1, '3?': 1, 'New': 1, 'Python': 5, 'Read': 1, 'and': 1, 'between': 1, 'choosing': 1, 'or': 2, 'to': 1}


Question 23
level 1

Question:
    Write a method which can calculate square value of number

Hints:
    Using the ** operator

In [19]:
input = 5

print(input**2)

25


Question 24
Level 1

Question:
    Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.
    Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()
    And add document for your own function
    

Hints:
    The built-in document method is __doc__

In [20]:
def my_documented_function(): 
    """this is a documentation"""

    return "banana"
  
print(my_documented_function.__doc__)
print(abs.__doc__)
print(input.__doc__) #raw_input is for the old people
print(int.__doc__)

this is a documentation
Return the absolute value of the argument.
int(x=0) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
int(x=0) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4


Question 25
Level 1

Question:
    Define a class, which have a class parameter and have a same instance parameter.

Hints:
    Define a instance parameter, need add it in __init__ method
    You can init a object with construct parameter or set the value later

In [22]:
class BananaClass:
    color = "yellow"

    def __init__(self, color):
        self.color = color


my_banana = BananaClass("almost yellow")

print(my_banana.color)

almost yellow


Question:
Define a function which can compute the sum of two numbers.

Hints:
Define a function with two numbers as arguments. You can compute the sum in the function and return the value.

In [25]:
def yayyyyyy(a, b):
    return a+b

print(yayyyyyy(34543, 5554656345345))

5554656379888


Question:
Define a function that can convert a integer into a string and print it in console.

Hints:
Use str() to convert a number to string.

In [26]:
def super_yayyyyyy(int):
    print(str(int))

super_yayyyyyy(34543)

34543


Question:
Define a function that can convert a integer into a string and print it in console.

Hints:
Use str() to convert a number to string.

In [27]:
# wow, this one looks *a lot* more complex the the prev question 

def super_yayyyyyy(int):
    print(str(int))

super_yayyyyyy(0)

0



Question:
Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

Hints:
Use int() to convert a string to integer.

In [0]:
def a_func(str_1, str_2):
    print(int(str_1) + int(str_2))

a_func("12", "56464")


Question:
Define a function that can accept two strings as input and concatenate them and then print it in console.

Hints:
Use + to concatenate the strings

In [30]:
def a_func(str_1, str_2):
    print(str_1 + str_2)

a_func("i am a ", "banana")

i am a banana


Question:
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print all strings line by line.

Hints:
Use len() function to get the length of a string

In [34]:
def a_func(str_1, str_2):
    if (len(str_1) > len(str_2)): print(str_1)
    elif (len(str_2) > len(str_1)): print(str_2)
    else: print(str_1 + str_2)

a_func("12", "56464")

56464


Question:
Define a function that can accept an integer number as input and print the 'It is an even number' if the number is even, otherwise print 'It is an odd number'.

Hints:
Use % operator to check if a number is even or odd.

In [35]:
def is_even(number):
    if (number % 2 == 0): print("is even")
    else: print("well, it is not even")

is_even(54)

is even


Question:
Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

Hints:
Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.

In [36]:
def a_func():
    print({1: 1, 2: 4, 3: 9}) # sometims the stupid way is the best...

a_func()

{1: 1, 2: 4, 3: 9}


Question:
Define a function which can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

Hints:
Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
Use range() for loops.

In [37]:
def a_func():
    print({i: i**2 for i in range(1, 21) }) # not this time 😉

a_func()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}


Question:
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

Hints:
Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
Use range() for loops.
Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.

In [39]:
def a_func():
    the_dict = {i: i**2 for i in range(1, 21) }
    print(the_dict.values())

a_func()

dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])


Question:
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

Hints:
Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
Use range() for loops.
Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.

In [0]:
def a_func():
    the_dict = {i: i**2 for i in range(1, 21) }
    print(the_dict.keys()) # not impressed

a_func()


Question:
Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

Hints:
Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.


Question:
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

Hints:
Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use [n1:n2] to slice a list


Question:
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the last 5 elements in the list.

Hints:
Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use [n1:n2] to slice a list


Question:
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

Hints:
Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use [n1:n2] to slice a list


Question:
Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included). 

Hints:
Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use tuple() to get a tuple from a list.


Question:
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line. 

Hints:
Use [n1:n2] notation to get a slice from a tuple.


Question:
Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10). 

Hints:
Use 'for' to iterate the tuple
Use tuple() to generate a tuple from a list.


Question:
Write a program which accepts a string as input to print 'Yes' if the string is 'yes' or 'YES' or 'Yes', otherwise print 'No'. 

Hints:
Use if statement to judge condition.


Question:
Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

Hints:
Use filter() to filter some elements in a list.
Use lambda to define anonymous functions.


Question:
Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Hints:
Use map() to generate a list.
Use lambda to define anonymous functions.


Question:
Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

Hints:
Use map() to generate a list.
Use filter() to filter elements of a list.
Use lambda to define anonymous functions.


Question:
Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).

Hints:
Use filter() to filter elements of a list.
Use lambda to define anonymous functions.


Question:
Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).

Hints:
Use map() to generate a list.
Use lambda to define anonymous functions.


Question:
Define a class named American which has a static method called printNationality.

Hints:
Use @staticmethod decorator to define class static method.


Question:
Define a class named American and its subclass NewYorker. 

Hints:
Use class Subclass(ParentClass) to define a subclass.


Question:
Define a class named Circle which can be constructed by a radius. The Circle class has a method which can compute the area. 

Hints:
Use def methodName(self) to define a method.


Define a class named Rectangle which can be constructed by a length and width. The Rectangle class has a method which can compute the area. 

Hints:
Use def methodName(self) to define a method.


Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

Hints:
To override a method in super class, we can define a method with the same name in the super class.



Please raise a RuntimeError exception.

Hints:
Use raise() to raise an exception.


Write a function to compute 5/0 and use try/except to catch the exceptions.

Hints:
Use try/except to catch exceptions.


Define a custom exception class which takes a string message as attribute.

Hints:
To define a custom exception, we need to define a class inherited from Exception.


Question:
Assuming that we have some email addresses in the 'username@companyname.com' format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.
Example:
If the following email address is given as input to the program:
john@google.com
Then, the output of the program should be:
john
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:
Use  to match letters.


Question:
Assuming that we have some email addresses in the 'username@companyname.com' format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.
Example:
If the following email address is given as input to the program:
john@google.com
Then, the output of the program should be:
google
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:
Use  to match letters.


Question:
Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.
Example:
If the following words is given as input to the program:
2 cats and 3 dogs.
Then, the output of the program should be:
['2', '3']
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:
Use re.findall() to find all substring using regex.


Question:

Print a unicode string 'hello world'.

Hints:
Use u'strings' format to define unicode string.


Write a program to read an ASCII string and to convert it to a unicode string encoded by utf-8.

Hints:
Use unicode() function to convert.


Question:
Write a special comment to indicate a Python source code file is in unicode.

Hints:


Question:
Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).
Example:
If the following n is given as input to the program:
5
Then, the output of the program should be:
3.55
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:
Use float() to convert an integer to a float


Question:
Write a program to compute:
f(n)=f(n-1)+100 when n>0
and f(0)=1
with a given n input by console (n>0).
Example:
If the following n is given as input to the program:
5
Then, the output of the program should be:
500
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:
We can define recursive function in Python.


Question:

The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1
Please write a program to compute the value of f(n) with a given n input by console.
Example:
If the following n is given as input to the program:
7
Then, the output of the program should be:
13
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:
We can define recursive function in Python.


Question:
The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1
Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.
Example:
If the following n is given as input to the program:
7
Then, the output of the program should be:
0,1,1,2,3,5,8,13


Hints:
We can define recursive function in Python.
Use list comprehension to generate a list from an existing list.
Use string.join() to join a list of strings.
In case of input data being supplied to the question, it should be assumed to be a console input.


Question:
Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.
Example:
If the following n is given as input to the program:
10
Then, the output of the program should be:
0,2,4,6,8,10

Hints:
Use yield to produce the next value in generator.
In case of input data being supplied to the question, it should be assumed to be a console input.


Question:
Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console.
Example:
If the following n is given as input to the program:
100
Then, the output of the program should be:
0,35,70

Hints:
Use yield to produce the next value in generator.
In case of input data being supplied to the question, it should be assumed to be a console input.


Question:

Please write assert statements to verify that every number in the list [2,4,6,8] is even.


Hints:
Use 'assert expression' to make assertion.


Question:
Please write a program which accepts basic mathematic expression from console and print the evaluation result.
Example:
If the following string is given as input to the program:
35+3
Then, the output of the program should be:
38

Hints:
Use eval() to evaluate an expression.


Question:
Please write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.


Hints:
Use if/elif to deal with conditions.


Question:
Please write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.


Hints:
Use if/elif to deal with conditions.


Question:
Please generate a random float where the value is between 10 and 100 using Python math module.


Hints:
Use random.random() to generate a random float in [0,1].


Question:
Please generate a random float where the value is between 5 and 95 using Python math module.


Hints:
Use random.random() to generate a random float in [0,1].


Question:
Please write a program to output a random even number between 0 and 10 inclusive using random module and list comprehension.


Hints:
Use random.choice() to a random element from a list.


Question:
Please write a program to output a random number, which is divisible by 5 and 7, between 0 and 10 inclusive using random module and list comprehension.


Hints:
Use random.choice() to a random element from a list.

In [0]:
import random

random.choice()


Question:
Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.


Hints:
Use random.sample() to generate a list of random values.

In [18]:
import random

list_of_randoms = random.sample(range(1, 200), 5)

print(list_of_randoms)

[57, 32, 151, 194, 150]


Question:
Please write a program to randomly generate a list with 5 even numbers between 100 and 200 inclusive.


Hints:
Use random.sample() to generate a list of random values.

In [17]:
import random

list_of_randoms = random.sample(range(1, 100), 5)

print(list(map(lambda x: x*2, list_of_randoms)))

[40, 120, 92, 70, 130]


Question:
Please write a program to randomly generate a list with 5 numbers, which are divisible by 5 and 7 , between 1 and 1000 inclusive.


Hints:
Use random.sample() to generate a list of random values.

In [16]:
import random

list_of_randoms = [0]

while (len(list(x for x in list_of_randoms if (x % 5 == 0 and x % 7 == 0))) > 0):
    list_of_randoms = random.sample(range(1, 1000), 5)

print(list_of_randoms)

False
[103, 961, 490, 108, 88]
[653, 210, 726, 561, 297]
[865, 696, 660, 574, 869]
[865, 696, 660, 574, 869]


Question:
Please write a program to randomly print a integer number between 7 and 15 inclusive.


Hints:
Use random.randrange() to a random integer in a given range.

In [0]:
import random

print(random.randrange(7, 15))

10


Question:
Please write a program to compress and decompress the string 'hello world!hello world!hello world!hello world!'.


Hints:
Use zlib.compress() and zlib.decompress() to compress and decompress a string.

In [2]:
import zlib

input = "hello world!hello world!hello world!hello world!"

the_compressed_text = zlib.compress(input.encode('utf-8'))
the_uncompressed_text = zlib.decompress(the_compressed_text)

print(f'this is the compressed input: {the_compressed_text}')
print(f'and this is the uncompressed compressed input: {the_uncompressed_text}')

this is the compressed input: b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'
and this is the uncompressed compressed input: b'hello world!hello world!hello world!hello world!'


Question:
Please write a program to print the running time of execution of '1+1' for 100 times.


Hints:
Use timeit() function to measure the running time.

In [0]:
import timeit

the_time = timeit.timeit('1+1', number=100)
print(the_time)

1.5549994714092463e-06


Question:
Please write a program to shuffle and print the list [3,6,7,8].


Hints:
Use shuffle() function to shuffle a list.

In [0]:
import random

a_list = [3,6,7,8]
random.shuffle(a_list)
print(a_list)

[6, 7, 8, 3]


Question:
Please write a program to shuffle and print the list [3,6,7,8].


Hints:
Use shuffle() function to shuffle a list.

In [0]:
# so what did i do in the prev question? 🤔

import random

a_list = [3,6,7,8]
random.shuffle(a_list)
print(a_list)

[6, 7, 8, 3]


Question:
Please write a program to generate all sentences where subject is in ['I', 'You'] and verb is in ['Play', 'Love'] and the object is in ['Hockey','Football'].

Hints:
Use list[index] notation to get a element from a list.

In [1]:
import itertools
subject = ['I', 'You']
verb = ['Play', 'Love']
object = ['Hockey','Football']

sentences_words = [subject, verb, object]
sentences = list(itertools.product(*sentences_words))
sentences = list(map(lambda x: " ".join(x), sentences))
print(sentences)

['I Play Hockey', 'I Play Football', 'I Love Hockey', 'I Love Football', 'You Play Hockey', 'You Play Football', 'You Love Hockey', 'You Love Football']


Please write a program to print the list after removing delete even numbers in [5,6,77,45,22,12,24].

Hints:
Use list comprehension to delete a bunch of element from a list.

In [0]:
input = [5,6,77,45,22,12,24]

print([i for i in input if i % 2 != 0])

[5, 77, 45]


Question:
By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

Hints:
Use list comprehension to delete a bunch of element from a list.

In [0]:
input = [12,24,35,70,88,120,155]

print([i for i in input if not (i % 5 == 0 and i % 7 == 0)])

[12, 24, 88, 120, 155]


Question:
By using list comprehension, please write a program to print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

Hints:
Use list comprehension to delete a bunch of element from a list.
Use enumerate() to get (index, value) tuple.

In [0]:
input = [12,24,35,70,88,120,155]
idx_to_remove = [0, 2, 4, 6]

print([input[i] for i in range(len(input)) if i not in idx_to_remove])

[24, 70, 120]


Question:
By using list comprehension, please write a program generate a 3*5*8 3D array whose each element is 0.

Hints:
Use list comprehension to make an array.

In [0]:
size = 358

print([[[0 for k in range(size)] for j in range(size)] for i in range(size)])


Question:
By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

Hints:
Use list comprehension to delete a bunch of element from a list.
Use enumerate() to get (index, value) tuple.

In [0]:
# hey, have a look two questions up ^ :)

input = [12,24,35,70,88,120,155]
idx_to_remove = [0, 4, 5]

print([input[i] for i in range(len(input)) if i not in idx_to_remove])

[24, 35, 70, 155]


Question:
By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

Hints:
Use list's remove method to delete a value.

In [0]:
input = [12,24,35,24,88,120,155]
to_remove = 24

print([i for i in input if i != to_remove])

[12, 35, 88, 120, 155]


Question:
With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersection of the above given lists.

Hints:
Use set() and '&=' to do set intersection operation.

In [3]:
list_1 = [1,3,6,78,35,55]
list_2 = [12,24,35,24,88,120,155]

print(list(set(list_1) & set(list_2)))

[35]


With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

Hints:
Use set() to store a number of values without duplicate.

In [0]:
input = [12,24,35,24,88,120,155,88,120,155]

print(list(set(input))[::-1]) # what do you want to happen first?

[120, 88, 24, 155, 12, 35]


Question:
Define a class Person and its two child classes: Male and Female. All classes have a method 'getGender' which can print 'Male' for Male class and 'Female' for Female class.

Hints:
Use Subclass(Parentclass) to define a child class.

In [0]:
class Person:
    def get_gender(self):
        print(self.gender)

class Male(Person):
  def __init__(self):
    super().__init__()
    self.gender = 'Male'

class Female(Person):
  def __init__(self):
    super().__init__()
    self.gender = 'Female'

a_person = Male()
a_person.get_gender()

Male


Question:
Please write a program which count and print the numbers of each character in a string input by console.
Example:
If the following string is given as input to the program:
abcdefgabc
Then, the output of the program should be:
a,2
c,2
b,2
e,1
d,1
g,1
f,1

Hints:
Use dict to store key/value pairs.
Use dict.get() method to lookup a key with default value.

In [0]:
input = "abcdefgabc"
output = {}

for i in input:
    if (i in output):
        output[i] += 1
    else:
        output[i] = 1

print(output)

{'a': 2, 'b': 2, 'c': 2, 'd': 1, 'e': 1, 'f': 1, 'g': 1}


Question:
Please write a program which accepts a string from console and print it in reverse order.
Example:
If the following string is given as input to the program:
rise to vote sir
Then, the output of the program should be:
ris etov ot esir

Hints:
Use list[::-1] to iterate a list in a reverse order.

In [0]:
input = "rise to vote sir"

print(input[::-1])

ris etov ot esir


Question:
Please write a program which accepts a string from console and print the characters that have even indexes.
Example:
If the following string is given as input to the program:
H1e2l3l4o5w6o7r8l9d
Then, the output of the program should be:
Helloworld

Hints:
Use list[::2] to iterate a list by step 2.

In [0]:
input = "H1e2l3l4o5w6o7r8l9d"

print(input[::2])

Helloworld



Question:
Please write a program which prints all permutations of [1,2,3]


Hints:
Use itertools.permutations() to get permutations of list.

In [2]:
import itertools

input = [1,2,3]

print(list(itertools.permutations(input)))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]


Question:
Write a program to solve a classic ancient Chinese puzzle: 
We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?
Hint:
Use for loop to iterate all possible solutions.

In [0]:
heads = 35
legs = 94

rabbits = 0
for i in range(heads):
    if ((legs - (i*4)) / 2 == heads - i):
        rabbits = i
        break

print(f'there are {rabbits} rabbits and {heads - rabbits} chikens in the farm.')

there are 12 rabbits and 23 chikens in the farm.

## Recursion  execrcises

Question: Print the first 20 numbers in fibonacci sequence.

Question: Write a function to compute the factorial of n.

Question: Write a Python program of recursion list sum.
Example: [1, 2, [3,4], [5,6]]
Expected Result: 21